// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//fonts
$sage-font: 'Open Sans';
$sage-fallback-font: sans-serif;
$sage-second-font: 'Lato';


//colors
$color_bay_of_many_approx: #1d4291;
$white : rgb(255,255,255);
$white_35 : rgba(255,255,255,.35);
$white_15 : rgba(255,255,255,.15);
$color_concord_approx: #7c7c7c;
$black_75 : rgba(0,0,0,.75);
$black_92 : rgba(0,0,0,.92);
$black_25 : rgba(0,0,0,.25);
$color_mountain_mist_approx: #999999;
$color_silver_chalice_approx: #afafaf;
$color_chicago_approx: #5e5d5d;
$color_fuscous_gray_approx: #505050;
$color_ghost_approx: #cbc8cb;
$color_stack_approx: #8e8e8e;
$black: #000000;
$color_mountain_mist_approx: #979797;
$color_black_pearl_approx: #061221;
$color_black_pearl_approx_89: rgba(6,18,33,.89);
$color_selective_yellow_approx: #ffb400;
